/* Soundtracks topic customizations */

.page-node-17706 .forum-post-number {
    display: none;
}
/* Forums table customizations */

table.forum-table-topics {
    width: 100%;
    max-width: 100%;
}
.forum-name a {
    font-weight: bold;
}
/* Forum topic and post links */

.forum-post-links .flag-abuse-node a,
.forum-post-links .flag-abuse-comment a {
    background: #dfdfdf;
    background-image: url("../images/flag.png");
    background-image: url("../images/flag.png"), -moz-linear-gradient(top, #dfdfdf 0%, #c1c1c1 100%);
    background-image: url("../images/flag.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfdfdf), color-stop(100%, #c1c1c1));
    background-image: url("../images/flag.png"), -webkit-linear-gradient(top, #dfdfdf 0%, #c1c1c1 100%);
    background-image: url("../images/flag.png"), -o-linear-gradient(top, #dfdfdf 0%, #c1c1c1 100%);
    background-image: url("../images/flag.png"), -ms-linear-gradient(top, #dfdfdf 0%, #c1c1c1 100%);
    background-image: url("../images/flag.png"), linear-gradient(to bottom, #dfdfdf 0%, #c1c1c1 100%);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: #333333;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    padding: 7px 12px 7px 25px;
}
.forum-post-links .flag-abuse-node a:hover,
.forum-post-links .flag-abuse-comment a:hover {
    background: #c1c1c1;
    background-image: url("../images/flag.png");
    background-repeat: no-repeat;
    background-position: 10% 50%;
}
.forum-post-links .flag-abuse-whitelist-node a,
.forum-post-links .flag-abuse-whitelist-comment a {
    background: #dfdfdf;
    background-image: url("../images/whitelist.png");
    background-image: url("../images/whitelist.png"), -moz-linear-gradient(top, #dfdfdf 0%, #c1c1c1 100%);
    background-image: url("../images/whitelist.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfdfdf), color-stop(100%, #c1c1c1));
    background-image: url("../images/whitelist.png"), -webkit-linear-gradient(top, #dfdfdf 0%, #c1c1c1 100%);
    background-image: url("../images/whitelist.png"), -o-linear-gradient(top, #dfdfdf 0%, #c1c1c1 100%);
    background-image: url("../images/whitelist.png"), -ms-linear-gradient(top, #dfdfdf 0%, #c1c1c1 100%);
    background-image: url("../images/whitelist.png"), linear-gradient(to bottom, #dfdfdf 0%, #c1c1c1 100%);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: #333333;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    padding: 7px 12px 7px 28px;
}
.forum-post-links .flag-abuse-whitelist-node a:hover,
.forum-post-links .flag-abuse-whitelist-comment a:hover {
    background: #c1c1c1;
    background-image: url("../images/whitelist.png");
    background-repeat: no-repeat;
    background-position: 10% 50%;
}
/*BUTTONS*/
/*
.form-submit {
    margin: 5px;
    -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background: -moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}
.form-submit:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background: -moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}
.form-submit:active {
    position: relative;
    top: 1px;
}
*/
/*Alternative submit button*/

.form-submit {
    margin: 5px;
    padding: 6px 24px;
    font-weight: bold;
    font-size: 13px;
    background-color: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
    background: linear-gradient(to bottom, #f5f5f5 0%, #f1f1f1 100%);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    font-family: arial, sans-serif;
    font-size: 12px;
}
.form-submit:hover {
    background-color: #f8f8f8;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
    background: linear-gradient(to bottom, #f8f8f8 0%, #f1f1f1 100%);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-submit:active {
    position: relative;
    top: 1px;
}
/* Like flag */

.flag-like-comment a,
.flag-like-node a {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #ededed;
    background-image: url("../images/likes-icon.png");
    background: url("../images/likes-icon.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: url("../images/likes-icon.png"), -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: url("../images/likes-icon.png"), -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: url("../images/likes-icon.png"), -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: url("../images/likes-icon.png"), -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: url("../images/likes-icon.png"), linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #0090e4;
    font-family: arial;
    font-size: 12px;
    padding: 0 2px 0 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}
.flag-like-comment a:hover,
.flag-like-node a:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: url("../images/likes-icon.png"), -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: url("../images/likes-icon.png"), -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: url("../images/likes-icon.png"), -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: url("../images/likes-icon.png"), -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: url("../images/likes-icon.png"), linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color: #dfdfdf;
    background-image: url("../images/likes-icon.png");
    background-repeat: no-repeat;
    background-position: 5% 50%;
}
.flag-like-comment a:active,
.flag-like-node a:active {
    position: relative;
    top: 1px;
}
/* Comments (not forum) links */

.logged-in .comment-links .comment-delete a,
.logged-in .comment-links .comment-edit a,
.logged-in .comment-links .comment-reply a,
.logged-in .comment-links .flag-abuse_comment a,
.logged-in .comment-links .flag-abuse_whitelist_comment a,
.comment-author-pane .author-privatemsg a {
    background: #dbe6c4;
    background-image: -webkit-linear-gradient(top, #dbe6c4, #9ba892);
    background-image: -moz-linear-gradient(top, #dbe6c4, #9ba892);
    background-image: -ms-linear-gradient(top, #dbe6c4, #9ba892);
    background-image: -o-linear-gradient(top, #dbe6c4, #9ba892);
    background-image: linear-gradient(to bottom, #dbe6c4, #9ba892);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #757d6f;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    border: solid #b2b8ad 1px;
    text-decoration: none;
}
.logged-in .comment-links .comment-delete a:hover,
.logged-in .comment-links .comment-edit a:hover,
.logged-in .comment-links .comment-reply a:hover,
.logged-in .comment-links .flag-abuse_comment a:hover,
.logged-in .comment-links .flag-abuse_whitelist_comment a:hover,
.comment-author-pane .author-privatemsg a:hover {
    background: #9ba892;
    background-image: -webkit-linear-gradient(top, #9ba892, #dbe6c4);
    background-image: -moz-linear-gradient(top, #9ba892, #dbe6c4);
    background-image: -ms-linear-gradient(top, #9ba892, #dbe6c4);
    background-image: -o-linear-gradient(top, #9ba892, #dbe6c4);
    background-image: linear-gradient(to bottom, #9ba892, #dbe6c4);
    text-decoration: none;
}
.logged-in .comment-links .comment-delete a:active,
.logged-in .comment-links .comment-edit a:active,
.logged-in .comment-links .comment-reply a:active,
.logged-in .comment-links .flag-abuse_comment a:active,
.logged-in .comment-links .flag-abuse_whitelist_comment a:active,
.comment-author-pane .author-privatemsg a:active {
    position: relative;
    top: 1px;
}
/* Review Button */

a.review-button {
    -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background: -moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    background-image: url("../images/starpencil.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 5px 7px 70px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}
a.review-button:hover {
    background: -moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
    background-image: url("../images/starpencil.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}
a.review-button:active {
    position: relative;
    top: 1px;
}
/* Login/register link */

#block-user-login a.popup-element-title {
    background-image: none;
    background-color: #383838;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 2px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 8px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    -moz-transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
#block-user-login a.popup-element-title:hover {
    background-color: #505050;
}
#block-user-login a.popup-element-title:active {
    position: relative;
    top: 1px;
}
/* Login with facebook link */

#facebook-login a {
    -moz-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    -webkit-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    background-color: #637aad;
    background-image: url("../images/fblogo.png");
    background: url("../images/fblogo.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
    background: url("../images/fblogo.png"), -moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background: url("../images/fblogo.png"), -webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background: url("../images/fblogo.png"), -o-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background: url("../images/fblogo.png"), -ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background: url("../images/fblogo.png"), linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
    background-repeat: no-repeat;
    background-position: 4% 50%;
    border: 1px solid #314179;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px 6px 50px;
    text-decoration: none;
}
#facebook-login a:hover {
    background-color: #5972a7;
    background-image: url("../images/fblogo.png");
    background: url("../images/fblogo.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
    background: url("../images/fblogo.png"), -moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background: url("../images/fblogo.png"), -webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background: url("../images/fblogo.png"), -o-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background: url("../images/fblogo.png"), -ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background: url("../images/fblogo.png"), linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
    background-repeat: no-repeat;
    background-position: 4% 50%;
}
#facebook-login a:active {
    position: relative;
    top: 1px;
}
/* Facebook login "OR" */

p#facebook-login-or {
    background-color: #383838;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
}
/* Comment (not forum) template customizations*/

.comment-author-pane .author-privatemsg a {
    display: inline-block;
    padding: 0;
    margin: 0;
    padding: 3px 10px;
}
.comment-author-pane .author-privatemsg span {
    padding: 0;
    margin: 0;
}
.comment-left-region {
    float: left;
    width: 130px;
    line-height: 100%;
}
.comment-author-pane {
    margin: 10px;
}
.comment-right-region {
    display: block;
    margin-left: 125px;
    min-height: 230px;
    height: 100%;
    padding-left: 5px;
    border-left: 1px solid #CCCCCC;
}
.comment-bottom-region {
    display: block;
    clear: both;
    padding-top: 5px;
    border-top: 1px solid #CCCCCC;
}
.comment-links {
    float: right;
}
.comment-left-region img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #C1C1C1;
}
.comment div.field-name-field-your-rating,
.comment div.field-name-field-tv-series-your-rating {
    height: 2em;
}
.comment-right-region .field-name-comment-body {
    margin-bottom: 15px;
    margin-top: 10px;
}
.review-form {
    display: none;
}
/*"Write Article" Button*/

a#write-article {
    font-weight: bold;
    font-size: 13px;
    padding: 15px 15px 15px 30px;
    background: #f5f5f5;
    background: url("../images/write-article.png"), -moz-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
    background: url("../images/write-article.png"), -webkit-gradient(left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #f1f1f1));
    background: url("../images/write-article.png"), -webkit-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
    background: url("../images/write-article.png"), -o-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
    background: url("../images/write-article.png"), -ms-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
    background: url("../images/write-article.png"), linear-gradient(to bottom, #f5f5f5 0%, #f1f1f1 100%);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    font-family: arial, sans-serif;
    font-size: 12px;
}
a#write-article:hover {
    background: #f8f8f8;
    background: url("../images/write-article.png"), -moz-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
    background: url("../images/write-article.png"), -webkit-gradient(left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #f1f1f1));
    background: url("../images/write-article.png"), -webkit-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
    background: url("../images/write-article.png"), -o-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
    background: url("../images/write-article.png"), -ms-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
    background: url("../images/write-article.png"), linear-gradient(to bottom, #f8f8f8 0%, #f1f1f1 100%);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
a#write-article:active {
    position: relative;
    top: 1px;
}
