i an#block-search-form a {
color:#141823;
}


#block-search-form {
position: relative;
top: 10px;
z-index: 25;
min-width:100%;
}

#block-search-form input[type="submit"], #block-search-form input[type="text"] {
    line-height:normal !important;
}

#block-search-form input[type="text"]{
width: 19em;
height: 35px;
margin-right: -5px;
}
#block-search-form input[type="submit"]{

margin: 0;
text-indent: -9999px;
width: 30px;
height: 37px;
-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background-color:#d0451b;
	background: url("../images/search.png");
	background:url("../images/search.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:url("../images/search.png"), -moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:url("../images/search.png"), -webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:url("../images/search.png"), -o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:url("../images/search.png"), -ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:url("../images/search.png"), linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

#block-search-form input[type="submit"]:hover{
background: url("../images/search.png");
background:url("../images/search.png"),-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:url("../images/search.png"),-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:url("../images/search.png"),-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:url("../images/search.png"),-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:url("../images/search.png"),-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:url("../images/search.png"),linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#block-search-form input[type="submit"]:active{
position:relative;
	top:1px;
}
/*
.ui-theme-basic-green.ui-autocomplete-input {
background-position: 100% 13px;
}

.ui-theme-basic-green.ui-autocomplete-loading {
background-position: 100% -10px;
}
*/
