#block-search-form a {
    color: #141823;
}
#block-search-form {
    float: left;
    z-index: 25;
    clear: left;
}
@media screen and (max-width: 800px) {
    #block-search-form {
        position: static;
        float: _left;
        clear: both;
    }
}
#block-search-form input[type="submit"],
#block-search-form input[type="text"] {
    line-height: normal !important;
}
#block-search-form input[type="text"] {
 width: 300px;
    height: 50px;
    background: url("../images/lente.png") no-repeat 0% 50%, /*#2b303b*/ #383838;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
transition: background .55s ease;
}
#block-search-form input[type="text"]:hover, #block-search-form input[type="text"]:active, #block-search-form input[type="text"]:focus {
background-color: #ffffff;
outline: none;
}

#block-search-form input[type="submit"] {
display: none;
outline: none;
}
